<div class="container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner" >
          <div class="carousel-item active" *ngFor="let movie of movies; let i = index">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.backdrop_path" class="d-block w-100 img-fluid" alt="peli"  >
          <div class="carousel-caption d-none d-md-block">
              <h5>{{ movie.title }}</h5>
              <p>{{ movie.overview }}</p>
          </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>

</div>


<div class="container">
    <h1 class="display-4 text-center my-4">PELÍCULAS TOP RATED</h1>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let movie of rateds; let i = index">
        <div class="card mb-4">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top" alt="Movie Poster">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill "  [ngClass]="{'bg-warning text-dark': movie.vote_average >= 8.55, 'bg-success': movie.vote_average < 8.55 }">
              {{ (movie.vote_average * 10 ).toFixed(2)}}
              <span class="visually-hidden">unread messages</span>
          </span>
  
          <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <p class="card-text">{{ movie.overview.slice(0, 200) + '...' }}</p>
            <a href="/film/{{movie.id}}" class="btn btn-primary bg-dark">Ver más</a>
          </div>
        </div>
      </div>
    </div>  
  </div>
  
     
  
  



  
