
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">CINEMACON</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="watchlist">Películas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="w-real">Watchlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="registro">Registro</a>
        </li>
        
      </ul>

      <div class="d-flex">
        <form class="d-flex" (submit)="buscar()">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="peliculaId" name="searchTerm">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>

      
    </div>
  </div>
</nav>

<div class="container">
  <h1 class="display-2 text-center my-4">CINEMACON</h1>
  <h1 class="display-8 text-center my-4">EL MEJOR PORTAL DE CINE DE TODOS LOS TIEMPOS</h1>
</div>

<router-outlet></router-outlet>


