<nav class="navbar navbar-expand-lg menu">
  <div class="container-fluid">
    <a href="/home" class="mx-2"><img class="logo" src="./assets/Logo_simple.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-2">
          <li *ngIf="tieneToken()" class="nav-item">
            <a class="nav-link" href="lista/servicios">Servicios</a>
          </li>
          <li *ngIf="tieneToken() && usuario.rol ===1" class="nav-item">
            <a class="nav-link" href="crear/servicios">Crear Servicios</a>
          </li>

          <li>
            <a class="nav-link btn btn-outline-primary" routerLink="carrito">Carrito</a>

          </li>
        </ul>


        <div class="d-flex mx-2 mr-auto"> <!-- Alineación a la izquierda -->
          <form *ngIf="tieneToken()" class="d-flex" (submit)="buscar()">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="peliculaId" name="searchTerm">
            <button class="btn btn-outline-success" type="submit" disabled>Buscar</button>
          </form>
        </div>
        
     
      <div class="d-flex mx-2 ml-auto"> <!-- Alineación a la derecha -->
        <ul class="navbar-nav">
          
          <li *ngIf="!tieneToken()" class="nav-item">
            <a class="nav-link btn btn-outline-primary" routerLink="registro">Registro</a>
          </li>

          <li *ngIf="!tieneToken()" class="nav-item m-1">
            <a class="nav-link btn btn-outline-primary" routerLink="login">Login</a>
          </li>
          <li *ngIf="tieneToken()" class="nav-item m-1 d-flex align-items-center">
            <p class="m-0 me-2"> ¡Hola! , {{NombreUsuario}} {{eltoken}}</p>
            <button class="btn btn-outline-primary" (click)="logout()">Desconectar</button>
          </li>
        </ul>
      </div>

      
    </div>
  </div>
</nav>


<div class="container">
  <h1 class="display-2 text-center my-4">XPO marketing</h1>
  <h1 class="display-8 text-center my-4">AGENCIA DE MARKETING DIGITAL</h1>
</div>

<router-outlet></router-outlet>


